<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <title>side navigation bar</title>
    <script
      src="https://kit.fontawesome.com/bba3432f3f.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="./css/bar.css" />
  </head>

  <body>
    <div class="row">
      <div class="col-md-4">
        <div class="side-nav" style="text-align: center">
          <a href="#" class="logo" style="text-decoration: none">
            <img src="./IMAGES/moh.png" class="logo-img" />
            <h4>EBOLA MONITORING</h4>
            <h4>SYSTEM</h4>
          </a>
          <ul class="nav-links">
            <li>
              <a href="#">
                <i class="fa-solid fa-house-user"></i>
                <p>Home</p>
              </a>
            </li>
            <li>
              <a href="./hospitalProfile.html">
                <i class="fa-solid fa-box-open"></i>
                <p>Update Profile</p>
              </a>
            </li>
            <li>
              <a href="./hospitalAddPatient.html">
                <i class="fa-solid fa-comment-dots"></i>
                <p>Add a patient</p>
              </a>
            </li>
            <li>
              <a href="./hospitalPatients.html">
                <i class="fa-solid fa-user"></i>
                <p>View Patients</p>
              </a>
            </li>

            <div class="active"></div>
          </ul>
        </div>
      </div>
      <br /><br /><br />
      <div class="col-md-8" style="margin-left: 300px">
        <h2 style="text-align: center">Welcome back HOSPITAL,</h2>
        <h4 style="text-align: center">
          Ministry Of Health Uganda thanks you greatly for joining hands with us
          in the fight against the Ebola virus.
        </h4>
      </div>
      <div
        class="container mt-5 mb-5 d-flex justify-content-center"
        style="padding-top: 80px"
      >
        <div class="card px-1 py-4">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <div class="input-group">
                    <input
                      class="form-control"
                      type="text"
                      placeholder="Password"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
