<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
      crossorigin="anonymous"
    />
    <title>Learn More</title>
    <div class="row" style="background-color: rgb(192, 233, 255)">
      <div
        class="col-md-12"
        style="
          width: 1100px;
          text-align: justify;
          padding: 20px;
          border-radius: 10px;
          margin-top: auto;
          margin-left: 100px;
        "
      >
        <h4>EBOLA HISTORY IN UGANDA</h4>
        <p>
          Uganda has reported four SVD outbreaks, in 2000, 2011 and 2012 (two
          outbreaks). Uganda also reported a Bundibugyo virus disease outbreak
          in 2007 and an Ebola virus disease outbreak in 2019.
        </p>
      </div>
      <div
        class="col-md-12"
        style="
          width: 1100px;
          text-align: justify;
          padding: 20px;
          border-radius: 10px;
          margin-top: auto;
          margin-left: 100px;
          background-color: rgb(15, 15, 81);
          color: white;
        "
      >
        <h4>ABOUT THE RECENT OUTBREAK</h4>
        <p>
          On 11 September 2022, a 24-year-old man from Madudu in central Uganda
          began feeling feverish and bleeding from his eyes, as well as starting
          to cough, vomit, and discharge blood-stained diarrhoea. After visiting
          two private clinics during the next four days, he was referred to
          hospital and quarantined while blood tests were carried out. On 19
          September, PCR tests revealed that he was infected with Sudan virus,
          one of four viruses known to cause Ebola virus disease in humans. That
          same day, the man died.
        </p>
        <p>
          As of 1 October, a total of 41 confirmed and 19 probable cases have
          been reported, including 24 deaths. Nine of these deaths have been
          from confirmed cases) and all of them in central Uganda. Here's what
          we know about the outbreak so far.
        </p>
        <button class="btn btn-primary">
          <a
            href="https://www.who.int/emergencies/disease-outbreak-news/item/2022-DON410#:~:text=Uganda%20has%20reported%20four%20SVD,virus%20disease%20outbreak%20in%202019."
          ></a
          >Learn More
        </button>
      </div>
      <div
        class="col-md-12"
        style="
          width: 1100px;
          text-align: justify;
          padding: 20px;
          border-radius: 10px;
          margin-top: auto;
          margin-left: 100px;
        
        "
      >
        <h4>WHAT THE MINISTRY OF HEALTH IS DOING</h4>
        <p>
          The Ministry of Health (MOH) established a National Task Force, with
          WHO providing technical support The Incidence Management Team was
          activated both within the MOH and the WHO country office The MOH
          Incident Commander has been deployed to Mubende District to support
          response efforts in the affected region WHO is supporting the
          orientation of the leadership at the Regional Referral Hospital and
          the district health team on early identification and case management A
          response plan is being developed and priority actions have been
          identified.
        </p>
      </div>

      <div class="col-md-12"  
      style="
      width: 1100px;
      text-align: justify;
      padding: 20px;
      border-radius: 10px;
      margin-top: auto;
      margin-left: 100px;
      background-color: rgb(15, 15, 81);
      color: white;
    "
  >

        <h4>KEY FACTS</h4>
        <p>
          Ebola virus disease (EVD), formerly known as Ebola haemorrhagic fever,
          is a rare but severe, often fatal illness in humans. </br>
          The virus is transmitted to people from wild animals and spreads in the human
          population through human-to-human transmission. </br>
          The average EVD case fatality rate is around 50%. Case fatality rates have varied from 25%
          to 90% in past outbreaks. </br>
          Community engagement is key to successfully controlling outbreaks. Good outbreak control relies on applying a
          package of interventions, namely case management, infection prevention
          and control practices, surveillance and contact tracing, a good
          laboratory service, safe and dignified burials and social
          mobilisation. </br>
          Vaccines to protect against Ebola have been developed
          and have been used to help control the spread of Ebola outbreaks in
          Guinea and in the Democratic Republic of the Congo (DRC). </br>
          Early supportive care with rehydration, symptomatic treatment improves
          survival. <br>
          Two monoclonal antibodies (Inmazeb and Ebanga) were approved
          for the treatment of Zaire ebolavirus (Ebolavirus) infection in adults
          and children by the US Food and Drug Administration in late 2020. <br>
          Pregnant and breastfeeding women with Ebola should be offered early
          supportive care. <br>
          Likewise vaccine prevention and experimental
          treatment should be offered under the same conditions as for
          non-pregnant population.
        </p>
      </div>
      <div class="col-md-12"  style="
      width: 1100px;
      text-align: justify;
      padding: 20px;
      border-radius: 10px;
      margin-top: auto;
      margin-left: 100px;
    "
  >
        <h4>TRANSMISSION</h4>
        <p>
          It is thought that fruit bats of the Pteropodidae family are natural
          Ebola virus hosts. Ebola is introduced into the human population
          through close contact with the blood, secretions, organs or other
          bodily fluids of infected animals such as fruit bats, chimpanzees,
          gorillas, monkeys, forest antelope or porcupines found ill or dead or
          in the rainforest.
        </p>
        <p>
          Ebola then spreads through human-to-human transmission via direct
          contact (through broken skin or mucous membranes) with: Blood or body
          fluids of a person who is sick with or has died from Ebola Objects
          that have been contaminated with body fluids (like blood, feces,
          vomit) from a person sick with Ebola or the body of a person who died
          from Ebola Health-care workers have frequently been infected while
          treating patients with suspected or confirmed EVD.
        </p>
        <p>
          This occurs through close contact with patients when infection control
          precautions are not strictly practiced. Burial ceremonies that involve
          direct contact with the body of the deceased can also contribute in
          the transmission of Ebola. People remain infectious as long as their
          blood contains the virus. Pregnant women who get acute Ebola and
          recover from the disease may still carry the virus in breastmilk, or
          in pregnancy related fluids and tissues. This poses a risk of
          transmission to the baby they carry, and to others. Women who become
          pregnant after surviving Ebola disease are not at risk of carrying the
          virus. If a breastfeeding woman who is recovering from Ebola wishes to
          continue breastfeeding, she should be supported to do so. Her breast
          milk needs to be tested for Ebola before she can start.
        </p>
      </div>
      <div class="col-md-12"  
      style="
      width: 1100px;
      text-align: justify;
      padding: 20px;
      border-radius: 10px;
      margin-top: auto;
      margin-left: 100px;
      background-color: rgb(15, 15, 81);
      color: white;
    "
  >
        <h4>SYMPTOMS</h4>
        <p>
          The incubation period, that is, the time interval from infection with
          the virus to onset of symptoms, is from 2 to 21 days. A person
          infected with Ebola cannot spread the disease until they develop
          symptoms.
        </p>
        <p>Symptoms of EVD can be sudden and include:</p>
        <ul>
          <li>Fever</li>
          <li>Fatigue</li>
          <li>Muscle pain</li>
          <li>Headache</li>
          <li>Sore throat</li>
        </ul>
        <p>This is followed by:</p>
        <ul>
          <li>Vomiting</li>
          <li>Diarrhoea</li>
          <li>Rash</li>
          <li>Symptoms of impaired kidney and liver function</li>
          <li>
            In some cases, both internal and external bleeding (for example,
            oozing from the gums, or blood in the stools).
          </li>
          <li>
            Laboratory findings include low white blood cell and platelet counts
            and elevated liver enzymes.
          </li>
        </ul>
      </div>
    </div>
  </head>
  <body></body>
</html>
