<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="./css/pub.css">
</head>
<body>
  <div>
    <nav>
        <div class="container nav_container" id="nav">
            <img src="./IMAGES/moh.png" style="height: 50px; width: 50px ;">
          <a href="Hac.html"><h4>Ebola Monitoring System</h4></a>
          <ul class="nav_menu" style="list-style: none;">
           <li><a href="#cards">Home</a></li>
           <li><a href="./statistics.html">Statistics</a></li>
           <li><a href="./learnMore.html">Learn more</a></li>
           <li><a href="Reports.html">Reports</a></li>
           <li><a href="./login.html">Login here</a></li>
          </ul>
          <button id="open-menu-btn"><i class='bx bx-menu'></i></button>
          <button id="close-menu-btn"><i class='bx bx-window-close'></i></i></button>
    
        </div>
    
      </nav>
    
      
  </div>